html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
body {
    margin:0px;
    margin-top: 5px;
    background: #648880;
    background: radial-gradient(#AAABBB, #2E9CCA);
    background-size: 100% 110%;

}
.container {
    padding-right: 55px;
    padding-left: 55px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2em;
    color: #000;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;

}
.topnav a.active{
  background-color: #f124a3;
  color: white;
}
  .index{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.1em;
  }
  .login {
    margin-top: 50px;
    font-size: 1.2em;
  
}
.login-form {
 /* border:.5px solid #fff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;*/
}
.login-form h3 {
  text-align:left;
  margin-left:40px;
  color:#000;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
  padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}

.login input[type="text"],
.login input[type="password"] {
  max-width:400px;
  width: 80%;
  line-height:3em;
  font-family: sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.login-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: #000;
  text-transform:uppercase;
  font-family: sans-serif;
  cursor:pointer;
}
@media only screen and (max-width: 767px) {
  #register-form {
    width: 100% !important;
    margin: auto;
  }
}
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
    #register-form {
      width: 50%;
      margin: auto;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    #register-form {
      width: 50%;
      margin: auto;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    #register-form {
      width: 50%;
      margin: auto;
    }
  }
  h1 {
    margin: .67em 0;
    font-size: 2em;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #23527c;
    text-decoration: underline;
  }


.centered{
  margin:  0 auto;
  width: 80%;
}

@media screen and (min-width: 480px) {
    .centered{
          margin: 0 auto;
          width: 95%;
        }
 }

 .input_control {
    display: block;
    width: 78%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .input_control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  .input_control::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .input_control:-ms-input-placeholder {
    color: #999;
  }
  .input_control::-webkit-input-placeholder {
    color: #999;
  }
  .input_control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  .button {
    display: inline-block;
    padding: 10px 12px;
    margin: 3px;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  li {
    float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
    display: block;
    padding: 8px;
    color: black;
}



.full_12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {

  .full_12 {
    width: 100%;
    float: left;
  }

}
