/* @import "custom.css"; */
html {
      font-family: sans-serif;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    
body {
    background: #F3E5F5;
    background-size: 100% 110%;  
    font-family: 'Roboto Sans', sans-serif;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.topnav {
  background-color:#0E103D;
  overflow: hidden;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;
  
}
.topnav a {
  float: left;
  color: #f2f2f2;
  /* text-align: center; */
  text-decoration: none;
  font-size: 15px;
}
a:hover{
  color:#69306D;
}
.topnav a:hover {
  background-color: #69306D;
  color: black;

}
.sixteen_px{
  padding:17px !important;
}
.six_px{
  padding:6px !important;
}
.topnav a.active{
  /* background-color: #f124a3; */
  color: white;
  background-color:#69306D;
}
 .input_control {
    display: block;
    width: 50%;
    margin-left: 25%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .input_control:focus {
    border-color: #69306D;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #69306D;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #69306D;
  }
  .input_control::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .input_control:-ms-input-placeholder {
    color: #999;
  }
  .input_control::-webkit-input-placeholder {
    color: #999;
  }
  .input_control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  .button {
    display: inline-block;
    padding: 10px 12px;
    margin: 3px;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

.full_12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {

  .full_12 {
    width: 100%;
    float: left;
  }

}

/* Create two equal columns that floats next to each other */
.column {
  box-sizing: border-box;
  float: left;
  margin-right: 2px;
  width: 70%;
  padding: 10px;
  margin-top: 3%;
  display: flex;
  
}
.column1 {
  box-sizing: border-box;
  float: right;
  width: 80%;
  padding: 10px;
  margin-top: -480px;
  height: 500px;
  text-align: center;
  backface-visibility: visible;  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
}

.box{
  width: 210px;
  float: left;
  background: #69306D;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 0%;

}
.box-img{
  border-radius: 70%;
  width: 150px;
  height: 120px;
  margin-top: 15%;
  
}

.box h1{
  font-size: 40px;
  letter-spacing: 40px;
  font-weight: 100;
}
ul{
  margin: 15%;
  padding: 0%;
  margin-bottom: 5%;
}

.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
  align-content: center;

}

* {
  box-sizing: border-box;
}
.panel-header {
  margin-top: 20px;
  height: 0px;
  background: rgb(15, 15, 15);
}
.title {
  color: #5E6977;
  font-weight: 500;
}

.dropbtn {
  background-color: #69306D;
  color: white;
  padding: 0px;
  font-size: 16px;
  margin-top: 0px;
 
  
}


.dropdown {
  float: left;
  overflow: hidden;
  float: left;
  margin: auto;
  
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
background-color:#69306D;
color: white;
}

.dropdown-content a:hover {
  background-color:#69306D;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block !important;
}

@media screen and (max-width: 600px) {
.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
}
.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
}
}
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 4em; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  display: block;
  border-radius:1em;
  margin-left:35em;
  margin-top: 10em;
  padding:2em;
  border: 1px solid #888;
  width: 25em;
}
.textarea{
  resize: none;
  width:33em; 
  height:6em;
  border:0em;
  color:#69306D'
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #69306D;
  border-color: #ffff;
}


/*Columns*/

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Card */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.container
{
    max-width:1440px;
    width:96%;
    margin:0px auto;
    color: #69306D;
    font-family: 'Courier New', Courier, monospace;
    
}
.container1
{
    max-width:1440px;
    width:96%;
    margin-top: -14em;
    color:#0E103D;
    font-family: 'Courier New', Courier, monospace;

}

.content{
  position:absolute;
  width: 40%;
  top:30%;
  left:50%;
  height:18em;
  transform:translateX(-50%) translateY(-50%);
  color:#0E103D;
}
.content1{
  position:absolute;
  width: 40%;
  top:50%;
  left:50%;
  height:18em;
  transform:translateX(-50%) translateY(-50%);
  color:#0E103D;
}
#login-box
{
  width:100%;
  margin-top:1%;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 10%;
  height:20em;
}
.inputs1
{
  width:80%;
  height:40px;
  margin:10% auto auto 10%;
  outline:none;
  border:none;
  padding: 0px;
  border-bottom: 1px black solid;
}
.inputs2
{
  width:80%;
  height:40px;
  margin:5% auto auto 10%;
  outline:none;
  border:none;
  border-bottom: 1px black solid;
}
.inputs
{
  width:80%;
  height:40px;
  margin:5% auto auto 10%;
  background-color:#69306D;
  outline:none;
  border:none;
  border-radius: 10px;
  color:#ffff;
  cursor:pointer;
}
.inputs:hover
{
  box-shadow: 2px 2px 7px 0px black;
  transition:0.5s;
}

input:focus::-webkit-input-placeholder {
    font-size: .75em;
    position: relative;
    top: -15px;
    transition: 0.3s ease-out;
}

input::-webkit-input-placeholder {
    transition: 0.3s ease-in;
}

input[type="text"]:focus, input[type="password"]:focus {
    height: 50px;
    padding-bottom: 0px;
    transition: 0.2s ease-in;
}

input[type="text"], input[type="password"] {
    transition: 0.2s ease-in;
}
#register-box
{
  width:100%;
  margin-top:-10em;
  border-radius: 10px;
  background-color: white;
  height:30em;
  padding-bottom: 10%;
}
.inputs0
{
  width:80%;
  height:40px;
  margin:10% auto auto 10%;
  outline:none;
  border:none;
  border-bottom: 1px black solid;
}
.inputs1
{
  width:80%;
  height:40px;
  margin:10% auto auto 10%;
  outline:none;
  border:none;
  border-bottom: 1px black solid;
}
.inputs2
{
  width:80%;
  height:40px;
  margin:5% auto auto 10%;
  outline:none;
  border:none;
  border-bottom: 1px black solid;
}
.inputs3
{
  width:80%;
  height:40px;
  margin:5% auto auto 10%;
  outline:none;
  border:none;
  border-bottom: 1px black solid;
}
.inputs4
{
  width:80%;
  height:40px;
  margin:5% auto auto 10%;
  background-color:#69306D;
  outline:none;
  border:none;
  border-radius: 10px;
  color:#ffff;
  cursor:pointer;
}
.inputs4:hover
{
  box-shadow: 2px 2px 7px 0px black;
  transition:0.5s;
}
.links{
  padding: 1em;
  color: black;
  margin-left: 2em;
}
.submit{
  padding-top: 2em;
  width:100%;
  display:block;
  background: #ffff;
  border-radius:1em;
  margin-top:12em;
  border:#69306D;
  padding-bottom: 2em;
}

#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
}
#loader {
  display: block;
  position: relative;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-top-color: #16a085;
  border-radius: 50%;
  z-index: 11;
  -webkit-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;
}
#loader:before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #69306D;
  animation: spin-reverse .6s linear infinite;
}
#loader:after {
  position: absolute;
  content: "";
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #F3E5F5;
  animation: spin 1s linear infinite;
}
#loader-wrapper .loader-section {
  top: 0;
  position: fixed;
  height: 100%;
  width: 51%;
  background-color: #ffff;
  z-index: 10;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}

/*Loaded styles*/

.loaded #loader-wrapper .loader-section.section-left {
  transform: translate(-100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  transform: translate(100%);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
  opacity: 0;
  transition: all 0.8s ease-in-out;
  visibility: hidden;
  z-index: -999;
  transform: translateY(-100%);
}
.loaded #loader-wrapper {
  visibility: hidden;
  transition: all 0.1s 1s ease-out;
  z-index: -99;
  opacity: 0;
  transform: translateY(-100%);
}

/*Animations*/
@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin-reverse{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
	#app {
	width: 100%;
}
#block-1, #block-2, #block-3, #block-4 {
	padding: 15px 0;
}
#weather-bg .container {
	width: 100%;
}
}
.holder{
  background: #ffff;
  border-radius: 1em;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  margin-left: 20em;
  margin-top:6em;
}
.holder2{
  background:#ffff;
  border-radius:1em;
  padding-top:2em;
  padding-bottom: 2em;
  margin-left:-4em;
  margin-top:2em;
  text-align: center;
  color: #69306D;
}
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #69306D;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
.top-bar {
  height: 35px;
  width: 100%;
  padding-top: 5px;
}
.search-container {
  max-width: 950px;
  margin: auto;
  padding-right: 10px;
}
.search {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 75px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right;
}
.search:focus {
  width: 200px;
}
